{%extends 'base.html' %}
{%load static%}
{%block title%}
{{category.name|title}}
{%endblock%}
{% block body %}
{%include 'user_page.html'%}
<br/>
<div class="container" align="center">
</div>

</div>

<section class="post bg0 p-t-85">
		<div class="container">
			<div class="row justify-content-center">
			<!---Start post--->
				<div class="col-md-10 col-lg-8">
					<div class="p-r-10 p-rl-0-sr991 p-b-20">
						<!-- Life Style  -->
						<div class="p-b-25 m-r--10 m-r-0-sr991">
							<div class="how2 how2-cl5 flex-s-c m-r-10 m-r-0-sr991" style="background-color:#509fa6">
								<h3 class="f1-m-2 cl17 tab01-title">
									<div class="h4" style="color:#bccc7c;" >{{category.name}}</div>
								</h3>
							</div>

							<div class="row p-t-35">

								<div class="col-sm-6 p-r-25 p-r-15-sr991">
									<!-- Item post -->
									{%for post in object_list%}
									<div class="flex-wr-sb-s m-b-30">
											<a href="{%url 'article' post.pk post.slug %}" class="size-w-1 wrap-pic-w hov1 trans-03">
											{%if post.image_1%}
											<img src="{{post.image_1.url}}" width="40px" height="80px">
											{%elif post.image_2%}
											<img src="{{post.image_2.url}}" width="40px" height="80px">
											{%elif post.image_3%}
											<img src="{{post.image_3.url}}" width="40px" height="80px">
											{%else%}
											<img src="{%static 'front/images/icons/logo.jpg' %}" alt="IMG">
											{%endif%}
										</a>

										<div class="size-w-2">
											<h5 class="p-b-5">
												<a href="{%url 'article' post.pk post.slug%}" class="f1-s-5 cl3 hov-cl10 trans-03">
													{{post.title}}
												</a>
											</h5>

											<span class="cl8">

												<span class="f1-s-3">
													Posted on {{post.date_posted}}|
													{%if user.is_superuser%}
													{%if post.To_homepage == True%} <small><strong>Moved</strong></small>{%endif%}
													{%endif%} ({{post.views}} view{{post.views|pluralize}})
												</span>
											</span>
										</div>
									</div>
									{%endfor%}

								</div>
							</div>
						</div>
					</div>
					<!---Pagination Starts-->
					<div class="container">
						<strong>Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</strong>
					</div>

					<nav aria-label="Page navigation example">
					  <ul class="pagination justify-content-center">
						  {%if page_obj.has_previous%}
							<li class="page-item"><a class="page-link" href="?page=1">1</a></li>
							<li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a></li>
						  {%endif%}
						  {%if page_obj.has_next%}
							<li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number}}">next</a></li>
							<li class="page-item"><a class="page-link" href="{{page_obj.paginator.num_pages}}">last</a></li>
							<li class="page-item">
							</li>
						  {%endif%}
					  </ul>
					</nav>
					<!---Pagination Ends-->
					<br/>
					<div class="container m-t-10 m-b-15">

					<div class="container m-t-10 m-b-15">

					</div><br/>
					<div class="container m-t-10 m-b-15">

		</div>
					</div><br/>
				</div>
				<!--------End for post-->
				<div class="col-md-10 col-lg-4">
					<div class="p-l-10 p-rl-0-sr991 p-b-20">
						<!-- Stay Connected -->

							{%include 'advert_space.html'%}
						</div>


					</div>
				</div>
			</div>
		</div>
</section>

{% endblock %}