<div class="alert alert-info" role="alert">
Rules in making new post
<br/>
1) Please always post to the right category in order to maintain an organised community
<br/>
2) In order to maintain a community of unity, we are solely against any post or comment related to Religion.
<br/>
3) Use of abusive words on anybody is highly not encouraged in this platform. Please not do not engage in it!
<br/>
4) The need for this platform is get information across, please honest in passing out information as a lot depends on it.
<br/>
5) If you find any post that is passing the wrong information, please do well to report it by following <a href="">Here</a>
<br/>
6) Please any post relating to football betting, forex trading is highly prohibited as we don't believe in such.
<br/>
7) We believe in rising people through digital means that why we encourage posting of anything you have testing
    so as to promote the brand and encourage them more
<div class="alert alert-danger" role="alert"> Note: Each post permits 3 images on a single upload, but you can continue adding
as many images as you want by using the <b>Add More</b> link on each of your post</div>
</div>